

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postpaid Bill Payment Successful</title>
   
</head>
<body>
    <div class="container">
        <h1>Payment Successful </h1>
        <p>Your postpaid bill payment has been successfully processed.</p>

        
         <p>Transaction ID: <strong>YOUR_TRANSACTION_ID</strong></p> -->
        <!-- <p> <strong>AMOUNT PAID:  ${{ bill}}</strong></p> -->
        <!-- <p><strong>Name:${{bill}}</strong></p> -->
        <!-- <p>Bill Receipt will be sent to your email address</p> -->
        <!-- <p>Thank you for using our service.</p> -->
        <!-- <h4>Thank you,</h4> -->
        <!-- <h4>Propay</h4> -->
        <!-- <p>Payment Date: <strong>PAYMENT_DATE</strong></p> -->
    <!-- </div> -->
<!-- </body> -->
<!-- </html> --> 


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postpaid Bill Payment Successful</title>
    <style>
        /* Add CSS for the header and navigation link */
        header {
            background-color: #0f1011;
            color: white;
            text-align: center;
            padding: 10px;
        }

        /* Style the navigation link */
        .home-link {
            color: white;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <!-- Header with navigation link -->
    <header>
        <a class="nav-link" routerLink=""  style="color: aliceblue; text-align-last:center" > Logout</a>
        <!-- <a class="nav-link" routerLink="/about"> About </a> -->
       
       
    </header>
    <div class="container">
        <h1>Payment Successful</h1>
        <p>Your postpaid bill payment has been successfully processed.</p>

        <!-- <p>Transaction ID: <strong>YOUR_TRANSACTION_ID</strong></p> -->
        <p><strong>AMOUNT PAID: ${{ bill }}</strong></p>
        <!-- <p><strong>Name:${{bill}}</strong></p> -->
        <!-- <p>Bill Receipt will be sent to your email address</p> -->
        <p>Thank you for using our service.</p>
        <h4>Thank you,</h4>
        <h4>Propay</h4>
        <!-- <p>Payment Date: <strong>PAYMENT_DATE</strong></p> -->
    </div>
</body>
</html>

